.div {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-right: 100px;
  margin-left: 100px;
}


body{margin-top:10px;
background:#eee;
}

.btn {
    margin-bottom: 5px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
	width: 50px;
}

.search table tr td img {
	width: 50px;
	height: 50px;
}

.search table tr td.rate {
	color: #f39c12;
	line-height: 50px;
}

.search table tr td.price {
	font-size: 1.5em;
	line-height: 50px;
}

.search #price1,
.search #price2 {
	display: inline;
	font-weight: 600;
}
/** Body CSS sample **/
body {
   background:rgb(255, 247, 233);
}
/** Flatted button %placeholder **/
%btn-flat {
   border-radius: 0rem;
   /* margin-right: 2rem; Icon sample spacing */
}
/** Rounded button **/
.btn-rounded {
   border-radius: 5rem;
   /* margin-right: 2rem;  Icon sample spacing */
}
/** Button Iconed **/
.btn {
 &-iconed {
   transition: .15s ease-in-out;
   padding-left: 1.3rem;
   padding-right: 1.5rem;
   /** Icons Classes **/
   /** -- Open Iconic, Font Awesome -- **/
   [class~=oi], [class~=fa],
   /** -- Since Material, Iconic and Typicons use ::before -- **/
      [class~=typcn]::before,
      [class~=mdi]::before,
      [class~=icon]::before {
         opacity: 0;
         transform-origin: left right;
         transform: translateX(-10px) scale(1.25);
         transition: .15s ease-out;
  }
  /** Span Class **/
  [class=spn] {
      position: relative;
      left:-9px;
      transform-origin: left right;
      transform: translateX(-9px);
      transition: .20s ease-in-out;
  }
   /** -- Icons on Hover properties -- **/
  &:hover {
   [class~=oi], [class~=fa],
   /** -- Since Material, Iconic and Typicons use ::before -- **/
   [class~=mdi]::before, [class~=icon]::before, [class~="typcn"]::before {
       opacity: 1;
       transform: translateX(0px) scale(.75);
   }
   /** -- Span on Hover properties -- **/
   [class=spn] {
       // transform: translateX(0);
       left:0px;
   }
   // padding-left: 2rem;
  }
  /** Flatted button **/
  &.btn-flat {
     @extend %btn-flat;
  }
 }
}
/** style.scss -- source **/


